@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700,900");

//font langding
@font-face {
	font-family: "Roboto";
	src: url("../../../fonts/Roboto-Regular.ttf");
}

@font-face {
	font-family: "RobotoBold";
	src: url("../../../fonts/Roboto-Bold.ttf");
}

@font-face {
	font-family: "RobotoBlack";
	src: url("../../../fonts/Roboto-Black.ttf");
}

@font-face {
	font-family: "RobotoMedium";
	src: url("../../../fonts/Roboto-Medium.ttf");
}

@font-face {
	font-family: "RobotoLight";
	src: url("../../../fonts/Roboto-Light.ttf");
}
@font-face {
	font-family: "Tinos";
	src: url("../../../fonts/Tinos-Regular.ttf");
}
@font-face {
	font-family: "TinosBold";
	src: url("../../../fonts/Tinos-Bold.ttf");
}
